.markdown-section>ul,
.markdown-section>ol,
.markdown-section>p {
	font-size: 1.3rem;
	line-height: 1.7
}

li.folder p strong { 
	cursor: pointer;
}


.pkg {
	padding: 0;
	background: #fefefe;
	border-bottom: solid 1px #ccc;
}

.pkg .pkg-desc { line-height: 1.6; }
.pkg .pkg-priority { background-color: #ddd; padding: 2px 6px; border-radius: 12px; }
